body,
html {
  width: 100%;
  height: 100%;
  background: #96e0de url(../img/bg.png);
  background-size: 100%;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.box {
  width: 100%;
  height: 100%;
}
.index .model-top {
  height: 1120px;
  width: 100%;
  position: absolute;
  z-index: 4;
  background: rgba(0, 255, 0, 0.3);
}
.index .model-middle {
  height: 1250px;
  width: 100%;
  position: absolute;
  top: 1120px;
  z-index: 4;
  background: rgba(255, 0, 0, 0.3);
}
.index .model-down {
  height: 1130px;
  width: 100%;
  position: absolute;
  top: 2370px;
  z-index: 4;
  background: rgba(0, 0, 255, 0.3);
}
.index .logo {
  top: 75px;
  left: 0;
  right: 0;
  margin: auto;
}
.index .title {
  left: 0;
  right: 0;
  margin: auto;
}
.index .top-balloon {
  top: 380px;
  left: 0;
}
.index .sidai {
  top: 270px;
  right: 0;
}
.index .top-card {
  top: 590px;
}
.index .top-star {
  top: 530px;
  right: 85px;
}
.index .top-balloon3 {
  top: 695px;
  right: 0;
}
.index .top-balloon2 {
  top: 865px;
  right: 10px;
}
.index .model {
  top: 1120px;
  left: 170px;
}
.index .star2 {
  top: 1265px;
  left: 72px;
}
.index .star3 {
  top: 1517px;
  left: 138px;
}
.index .middle-test {
  top: 1283px;
  left: 352px;
}
.index .sidai3 {
  top: 1578px;
  right: 0;
}
.index .star4 {
  top: 1840px;
}
.index .middle-heart2 {
  top: 1755px;
  left: 0;
}
.index .heart2 {
  top: 2100px;
  left: 480px;
}
.index .heart3 {
  top: 2280px;
  left: 460px;
}
.index .star5 {
  top: 2330px;
  left: 60px;
}
.index .down-balloon {
  top: 2400px;
  left: 0;
  right: 0;
  margin: auto;
}
.index .star6 {
  top: 2775px;
  left: 100px;
}
.index .hone {
  top: 2985px;
  left: 0;
  right: 0;
  margin: auto;
}
.index .star7 {
  top: 3147px;
  left: 655px;
}
.dn {
  display: none;
}
.rule-description {
  position: relative;
  top: 385px;
}
.rule-description img {
  left: 0;
  right: 0;
  margin: auto;
}
.rule-description .close {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 135px;
  z-index: 2;
}
.create-poster .p1-reback {
  top: 40px;
  right: 35px;
}
.create-poster .p1-star {
  top: 185px;
  left: 460px;
}
.create-poster .p1-star2 {
  top: 158px;
  right: 0;
}
.create-poster .p1-star3 {
  top: 828px;
  right: 50px;
}
.create-poster .p1-star4 {
  top: 581px;
  left: 65px;
}
.create-poster .p1-star6 {
  top: 1210px;
  left: 627px;
}
.create-poster .p1-sidai {
  right: 0;
}
.create-poster .rule-btn {
  top: 440px;
  left: 0;
  right: 0;
  margin: auto;
}
.create-poster .p1-leave-words {
  position: relative;
  top: 596px;
}
.create-poster .p1-leave-words img {
  left: 0;
  right: 0;
  margin: auto;
}
.create-poster .p1-leave-words input {
  color: #fff;
  position: absolute;
  left: 50%;
  z-index: 3;
  top: 250px;
  width: 250px;
  margin-left: -125px;
  font-size: 25px;
}
.create-poster .p1-leave-words input::placeholder {
  color: #fff;
}
.create-poster .p1-create-poster {
  top: 1140px;
  position: absolute;
  left: 50%;
  margin-left: -149px;
}
.create-poster .p1-create-poster img {
  position: static;
  margin-left: -52px;
}
.confirm-to-upload .p2-star {
  top: 50px;
  left: 215px;
}
.confirm-to-upload .p2-star2 {
  top: 265px;
  left: 45px;
}
.confirm-to-upload .p2-star3 {
  top: 615px;
  left: 678px;
}
.confirm-to-upload .p2-star4 {
  top: 920px;
  left: 29px;
}
.confirm-to-upload .p2-star5 {
  top: 1190px;
  left: 610px;
}
.confirm-to-upload .p2-sidai {
  right: 0;
}
.confirm-to-upload .tab {
  position: absolute;
  top: 145px;
  width: 501px;
  left: 50%;
  margin-left: -250px;
  display: flex;
  justify-content: space-between;
}
.confirm-to-upload .tab img {
  position: static;
}
.confirm-to-upload .tab li.active .num-box {
  display: none;
}
.confirm-to-upload .tab li.active .pitch {
  display: block;
}
.confirm-to-upload .tab .pitch {
  display: none;
}
.confirm-to-upload .box-font {
  position: relative;
  width: 501px;
  height: 791px;
  box-sizing: border-box;
  background: url(../img/p2-center-box.png);
  top: 255px;
  left: 50%;
  margin-left: -250px;
}
.confirm-to-upload .box-font .rahmen {
  width: 496px;
  height: 786px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
}
.confirm-to-upload .box-font .center-box {
  position: absolute;
  left: 50%;
  top: 50%;
}
.confirm-to-upload .box-font .center-box img {
  position: static;
  display: block;
  width: 501px;
}
.confirm-to-upload .box-font .box-font-ul li {
  display: none;
}
.confirm-to-upload .box-font .box-font-ul li.active {
  display: block;
}
.confirm-to-upload .box-font .p2-box-font {
  top: 45px;
  left: 315px;
}
.confirm-to-upload .box-font .p2-box2-font2 {
  top: 30px;
  left: 30px;
}
.confirm-to-upload .box-font .p2-box2-font {
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}
.confirm-to-upload .box-font .p2-box3-font2 {
  top: 595px;
  left: 0;
  right: 0;
  margin: auto;
}
.confirm-to-upload .box-font .p2-box3-font {
  top: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
.confirm-to-upload .box-font .p2-box4-font2 {
  top: 577px;
  left: 0;
  right: 0;
  margin: auto;
}
.confirm-to-upload .box-font .p2-box4-font {
  top: 680px;
  left: 0;
  right: 0;
  margin: auto;
}
.confirm-to-upload .box-font .p2-box5-font {
  top: 35px;
  left: 0;
  right: 0;
  margin: auto;
}
.confirm-to-upload .box-font .p2-box5-font2 {
  top: 590px;
  right: 50px;
}
.confirm-to-upload .photo-album {
  position: absolute;
  top: 1020px;
  left: 50%;
  margin-left: -25px;
}
.confirm-to-upload .photo-album img {
  position: static;
}
.confirm-to-upload .p2-upload-show {
  top: 1140px;
  left: 50%;
  margin-left: -174px;
}
.confirm-to-upload .p2-upload {
  position: absolute;
  top: 1140px;
  width: 243px;
  left: 50%;
  margin-left: -121px;
}
.confirm-to-upload .p2-upload .btn {
  position: static;
}
.share .star {
  top: 53px;
  left: 215px;
}
.share .star1 {
  top: 185px;
  left: 460px;
}
.share .star2 {
  top: 265px;
  left: 45px;
}
.share .star3 {
  top: 617px;
  left: 680px;
}
.share .star4 {
  top: 920px;
  left: 30px;
}
.share .star5 {
  top: 1225px;
  left: 678px;
}
.share .sidai {
  top: 0;
  right: 0;
}
.share .p3-share {
  top: 35px;
  left: 645px;
  position: absolute;
}
.share .p3-share img {
  position: static;
}
.share .save-btn {
  top: 1140px;
  left: 117px;
}
.share .save-shadow {
  top: 1155px;
  left: 65px;
}
.share .p3-sort {
  position: absolute;
  top: 1140px;
  left: 400px;
}
.share .p3-sort img {
  position: static;
}
.share .p3-sort-shashow {
  top: 1155px;
  left: 345px;
}
.share .img-box {
  top: 255px;
  left: 50%;
  margin-left: -250.5px;
  pointer-events: auto;
}
.share .dnImg {
  position: absolute;
  top: 1140px;
  left: 117px;
  width: 243px;
  height: 83px;
  overflow: hidden;
  opacity: 0;
}
.share .dnImg img {
  width: 100%;
  height: 100%;
  pointer-events: auto;
}
.hint .ranking {
  position: relative;
  left: 50%;
  top: 50%;
  width: 488px;
  height: 183px;
  transform: translate(-50%, -50%);
}
.hint .ranking img {
  position: static;
}
.hint .ranking .close {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}
.hint .ranking .share-btn {
  position: absolute;
  width: 75px;
  height: 40px;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}
.ranking-box .star {
  top: 60px;
  left: 175px;
}
.ranking-box .star1 {
  top: 160px;
  left: 600px;
}
.ranking-box .star2 {
  top: 600px;
  left: 695px;
}
.ranking-box .star3 {
  top: 885px;
  left: 42px;
}
.ranking-box .star4 {
  top: 1235px;
  left: 600px;
}
.ranking-box .sort {
  top: 75px;
  left: 0;
  right: 0;
  margin: auto;
}
.ranking-box .sort-shashow {
  top: 95px;
  left: 200px;
}
.ranking-box .back {
  position: absolute;
  top: 40px;
  left: 650px;
}
.ranking-box .back img {
  position: static;
}
.ranking-box .reopen {
  position: absolute;
  top: 1175px;
  left: 50%;
  margin-left: -121px;
}
.ranking-box .reopen img {
  position: static;
}
.ranking-box .list {
  position: relative;
  top: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ranking-box .list li {
  width: 549px;
  height: 120px;
  border-radius: 20px;
  background: rgba(229, 246, 246, 0.5);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}
.ranking-box .list li .head {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}
.ranking-box .list li .weixin-name {
  font-size: 23px;
  color: #002d72;
  margin-left: 32px;
}
.ranking-box .list li .rank {
  display: block;
  width: 48px;
  height: 63px;
  position: relative;
  margin-left: 53px;
  margin-right: 53px;
}
.ranking-box .list li .rank img {
  display: block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.ranking-box .list li .like-num {
  display: block;
  font-size: 35px;
  color: #002d72;
  width: 55px;
  margin-right: 25px ;
}
.ranking-box .list li .like img {
  position: static;
}
.ranking-box .list li .like .rank-heart {
  display: none;
}
.ranking-box .list li .like.isLike .rank-heart {
  display: block;
}
.ranking-box .list li .like.isLike .rank-heart2 {
  display: none;
}
