<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">
    <title>和瑞蓝一起25岁</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <a id='download' style="display: none;"></a>
    <!-- 首页 -->
    <div class="index dn ">
        <section class="model-top"></section>
        <section class="model-middle"></section>
        <section class="model-down"></section>

        <img src="img/logo.png" alt="" class="logo">
        <div>
            <img src="img/title.png" alt="" class="title">
        </div>
        <img src="img/top- balloon1.png" alt="" class="top-balloon">
        <img src="img/top-sidai1.png" alt="" class="sidai">
        <img src="img/top-card.png" alt="" class="top-card">
        <img src="img/top-star.png" alt="" class="top-star">
        <img src="img/top-sidai.png" alt="" class="sidai1">
        <img src="img/top-balloon3.png" alt="" class="top-balloon3">
        <img src="img/top-balloon2.png" alt="" class="top-balloon2">
        <img src="img/sidai4.png" alt="" class="sidai4">
        <img src="img/top-hua.png" alt="">


        <img src="img/middle-test.png" alt="" class="middle-test">
        <img src="img/sidai3.png" alt="" class="sidai3">
        <img src="img/model.png" alt="" class="model">
        <img src="img/star2.png" alt="" class="star2">
        <img src="img/star3.png" alt="" class="star3">
        <img src="img/star4.png" alt="" class="star4">
        <img src="img/middle-heart2.png" alt="" class="middle-heart2">
        <img src="img/heart2.png" alt="" class="heart2">
        <img src="img/heart3.png" alt="" class="heart3">

        <img src="img/star5.png" alt="" class="star5">
        <img src="img/down-balloon.png" alt="" class="down-balloon">
        <img src="img/star6.png" alt="" class="star6">
        <img src="img/home.png" alt="" class="hone">
        <img src="img/star7.png" alt="" class="star7">



    </div>
    <!-- 首页结束 -->


    <!-- 创建海报页面 -->
    <div class="box create-poster dn">
        <img src="img/p1-card.png" alt="" class="p1-card">
        <img src="img/p1-sidai.png" alt="" class="p1-sidai">
        <img src="img/p1-star.png" alt="" class="p1-star">
        <img src="img/p1-star2.png" alt="" class="p1-star2">
        <img src="img/p1-reback.png" alt="" class="p1-reback">
        <img src="img/rule-btn.png" alt="" class="rule-btn">
        <img src="img/p1-star3.png" alt="" class="p1-star3">
        <div class="p1-leave-words">
            <input type="text" placeholder="请在此输入或点击下方词汇">
            <img src="img/p1-leave-words.png" alt="">
        </div>

        <img src="img/p1-star4.png" alt="" class="p1-star4">
        <img src="img/p1-star5.png" alt="" class="p1-star5">
        <img src="img/p1-star6.png" alt="" class="p1-star6">
        <div class="p1-create-poster">
            <img src="img/p1-create-poster.png" alt="" class="">
        </div>




    </div>
    <!-- 创建海报页面结束 -->
    <!-- 规则说明窗口 -->
    <div class="layer dn rule">
        <div class="rule-description">
            <div class="close"></div>
            <img src="img/rule-description.png" alt="">
        </div>
    </div>
    <!-- 规则说明窗口结束 -->
    <!-- 确认上传窗口 -->
    <div class="box confirm-to-upload ">
        <input type="file" accept="image/*" capture='camera' id='camera' style="display: none;">
        <img src="img/p2-star.png" alt="" class="p2-star">
        <img src="img/p2-star2.png" alt="" class="p2-star2">
        <img src="img/p2-star3.png" alt="" class="p2-star3">
        <img src="img/p2-star4.png" alt="" class="p2-star4">
        <img src="img/p2-star5.png" alt="" class="p2-star5">
        <img src="img/p2-sidai.png" alt="" class="p2-sidai">
        <ul class="tab">
            <li class="active"> <img src="img/p2-font.png" alt="" class="p2-font num-box">
                <img src="img/pitch.png" alt="" class="pitch">

            </li>
            <li>
                <img src="img/p2-font2.png" alt="" class="p2-font2 num-box">
                <img src="img/pitch.png" alt="" class="pitch">
            </li>
            <li> <img src="img/p2-font3.png" alt="" class="p2-font3 num-box">
                <img src="img/pitch.png" alt="" class="pitch">
            </li>
            <li> <img src="img/p2-font4.png" alt="" class="p2-font4 num-box">
                <img src="img/pitch.png" alt="" class="pitch">

            </li>
            <li> <img src="img/tab-5.png" alt="" class="p2-font5 num-box">
                <img src="img/pitch.png" alt="" class="pitch">

            </li>
        </ul>
        <div class="box-font">
            <div class="center-box">
                <img src="" alt="" style="display: none;">
            </div>
            <ul class="box-font-ul">
                <li class="active">
                    <img src="img/p2-box-font.png" alt="" class="p2-box-font">
                </li>
                <li class="">
                    <img src="img/p2-box2-font.png" alt="" class="p2-box2-font">
                    <img src="img/p2-box2-font2.png" alt="" class="p2-box2-font2">
                </li>
                <li class="">
                    <img src="img/p2-box3-font.png" alt="" class="p2-box3-font">
                    <img src="img/p2-box3-font2.png" alt="" class="p2-box3-font2">
                </li>
                <li class="">
                    <img src="img/p2-box4-font.png" alt="" class="p2-box4-font">
                    <img src="img/p2-box4-font2.png" alt="" class="p2-box4-font2">
                </li>
                <li class="">
                    <img src="img/p2-box5-font.png" alt="" class="p2-box5-font">
                    <img src="img/p2-box5-font2.png" alt="" class="p2-box5-font2">
                </li>
            </ul>
        </div>
        <div class="photo-album"> <img src="img/photo-album.png" alt="">
        </div>
        <img src="img/p2-upload-show.png" alt="" class="p2-upload-show">

        <div class="p2-upload">
            <img src="img/p2-upload.png" alt="" class="btn">
        </div>
    </div>
    <!-- 确认上传窗口结束 -->
    <!-- 分享窗口 -->
    <div class="box  share dn">
        <img src="img/p1-star.png" alt="" class="star1">
        <img src="img/p1-star.png" alt="" class="star4">
        <img src="img/p1-star3.png" alt="" class="star2">
        <img src="img/p1-star3.png" alt="" class="star3">
        <img src="img/p1-star5.png" alt="" class="star">
        <img src="img/p1-star5.png" alt="" class="star5">
        <img src="img/p2-sidai.png" alt="" class="sidai">
        <div class="p3-share">
            <img src="img/p3-share.png" alt="" >
        </div>

        <img src="img/p3-save-shadow.png" alt="" class="save-shadow">
        <img src="img/p3-save.png" alt="" class="save-btn">
        <img src="img/p3-sort-shashow.png" alt="" class="p3-sort-shashow">

        <div class="p3-sort"> <img src="img/p3-sort.png" alt="">
        </div>
        <img src="img/test.png" alt="" class="img-box">
        <div class="dnImg">
            <img src="img/test.png" alt="">

        </div>



    </div>
    <!-- 分享窗口结束 -->
    <!-- 排行榜提示 -->
    <div class="layer hint dn">
        <div class="ranking">
            <div class="close"></div>
            <div class="share-btn"></div>
            <img src="img/ranking.png" alt="" >
        </div>
    </div>
    <!-- 排行榜提示结束 -->
    <!-- 排行榜 -->
    <div class="ranking-box dn">
  <img src="img/p2-star.png" alt="" class="star">
  <img src="img/p2-star.png" alt="" class="star4">
  <img src="img/p2-star2.png" alt="" class="star2">
  <img src="img/p1-star.png" alt="" class="star1">
  <img src="img/p1-star.png" alt="" class="star3">
  <img src="img/p3-sort-shashow.png" alt="" class="sort-shashow">
  <img src="img/p3-sort.png" alt="" class="sort">
  <div class="back"> 
       <img src="img/p1-reback.png" alt="" >
  
  </div>
  <div class="list">
    <li>
        <div class="head">
            <img src="img/head.png" alt="">
        </div>
        <span class="weixin-name">微信昵称</span>
       <div class="rank">
           <img src="img/img1.png" alt="">
       </div>
       <span class="like-num">
           128
       </span>
       <div class="like">
           <img src="img/ran-heart.png" alt="" class="rank-heart">
           <img src="img/ran-heart2.png" alt="" class="rank-heart2">
       </div>
    </li>
  </div>
    </div>
    <!-- 排行榜结束-->

    <script type="text/html" id='rank'>
        {{each arr}}
        <li>
            <div class="head">
                <img src="{{$value.head}}.png" alt="">
            </div>
            <span class="weixin-name">{{$value.weixinName}}</span>
             {{ if $value.rank<=3}}
            <div class="rank">
               <img src="img/img{{$value.rank}}.png" alt="">
           </div>
           {{else}}
           <span class="rank">
            <img src="img/img{{$value.rank}}.png" alt="">
           </span>
           {{/if}}
           <span class="like-num">
              {{$value.likeNum}}
           </span>
           {{ if $value.like}}
           <div class="like isLike">
               <img src="img/ran-heart.png" alt="" class="rank-heart">
               <img src="img/ran-heart2.png" alt="" class="rank-heart2">
           </div>
           {{else}}
           <div class="like ">
            <img src="img/ran-heart.png" alt="" class="rank-heart">
            <img src="img/ran-heart2.png" alt="" class="rank-heart2">
        </div>
        {{/if}}
        </li>
        {{/each}}
    </script>
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/html2canvas.js"></script>
    <script src="js/template-web.js"></script>
    <script src="js/index.js"></script>
    <script>
   
    </script>
</body>

</html>